@model TechJobs.Models.Job


<table class="job-listing">
   
    <tr>
        <td>Name</td>
        <td>@Model.Name</td>
    </tr>
    <tr>  
        <td>Employer</td>
        <td>@Model.Employer</td>
    </tr>
    <tr>  
        <td>Location</td>
        <td>@Model.Location</td>
    </tr> 
    <tr>  
        <td>PositionType</td>
        <td>@Model.PositionType</td>
    </tr>
    <tr> 
        <td>CoreCompetencies</td>
        <td>@Model.CoreCompetency</td>
   
    </tr>
</table>